<header>
  <div class="title">
    <a href="/upskill">UpSkill | Become Greater</a>
    <button onclick="toggleNav()" class="navToggleBtn removeDef option">Menu</button>
  </div>
  <% include ./up-nav %>
</header>