<nav id="primaryNav" class="hidden">
  <ul>
    <li class="navLink"><a href="/upskill/courses">Courses</a></li>
    <% if(isAuthenticated){ %>
    <li class="navLink"><a href="/upskill/cart">My Cart</a></li>
    <li class="navLink"><a href="/upskill/newCourse">Add a New Course</a></li>
    <% } %>
  </ul>
  <ul class="authentication">
    <% if(isAuthenticated){ %>
    <li class="navLink"><a href="/upskill/myProfile">My Profile</a></li>
    <li class="navLink">
      <form action="/upskill/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="submit" value="Log Out" class="navLink removeDef">
      </form>
    </li>
    <% } else { %>
    <li class="navLink"><a href="/upskill/login">Log in</a></li>
    <li class="navLink"><a href="/upskill/register">Sign Up</a></li>
    <% } %>
  </ul>
</nav>