<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1><%= title %></h1>
      <p>This Node application was created by Lautaro Cuevas. It presents a portfolio of work done for the Brigham Young
        University Web Backend Development II class.</p>
    </div>
  </div>
  <div class="container">
    <h2>UpSkill Project</h2>
    <p>An important part of this application is the UpSkill Project. It is an e-commerce site that shows Node JS,
      express JS, and MongoDB in action. It handles authorization and authentication, CORS for post requests, emailing,
      and more.</p>
  </div>
  <div class="container">
    <h2>Prove Activities</h2>
    <p>Small Projects can be found under the Prove Activities dropdown. These are activities that explore different
      topics such as JavaScript objects, pagination, ajax/fetch calls, and more.</p>
  </div>

</body>

</html>