<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="container">
    <h1><%= title %></h1>
    <form action="/create-user" method="POST">
      <label for="firstName">First Name:
        <input type="text" name="firstName" required>
      </label>
      <label for="lastName">Last Name:
        <input type="text" name="lastName" required>
      </label>
      <label for="username">Username:
        <input type="text" name="username" required>
      </label>
      <label for="email">Email:
        <input type="email" name="email" required>
      </label>
      <button type="submit">Save Data</button>
    </form>
  </div>

</body>

</html>