<!DOCTYPE html>
<html>

<head>
  <% include ../../includes/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <% include ../../includes/nav.ejs %>
  <main>
    <div class="container">
      <h1>Welcome Pokemon Fan!</h1>
      <p>This page will show you every pokemon. Are you ready to explore?</p>

      <a href="./09/pokemon/1"><button class="btn btn-secondary m-2">Find Pokemon!</button></a>
    </div>
  </main>
</body>

</html>