<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%> | UpSkill</title>
  <link rel="stylesheet" href="/stylesheets/upskill.css">
</head>

<body>

  <body>
    <header>
      <p class="title"><a href="/upskill">UpSkill | Become Greater</a></p>
      <% include ../../includes/up-nav %>
    </header>


    <main>
      <section class="cart-container">
        <div class="choices">
          <a class="cart-action" href="./clearCart">Clear Cart</a>
          <a class="cart-action" href="./purchaseCart">Purchase Courses</a>
        </div>
        <% items.forEach(item=>{ %>
        <p class="cart-title"><%= item.courseId.title %></p>
        <form action="./removeFromCart" method="post">
          <input type="hidden" name="itemId" value="<%= item.courseId._id %>">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="submit" value="Remove From Cart">
        </form>
        </div>
        <% }) %>
      </section>
    </main>
    <% include ../../includes/up-footer %>
  </body>

</html>