<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="../stylesheets/upskill.css">
</head>

<body>
  <% include ../../includes/up-header %>

  <main>
    <section class="intro">
      <h2>Welcome to upskill!</h2>
      <p>We're glad to see you here. At UpSkill, our main priority is to help those seeking continual education or
        professional development. We offer courses catering to those who want to gain hands on experience as they learn
        a new tool or skill. </p>
      </section>
      <a href="/upskill/courses" class="action">Start Learning Now</a>
    </main>

    <% include ../../includes/up-footer %>
    <script src="/scripts/base.js"></script>
</body>

</html>