<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="../stylesheets/upskill.css">
</head>

<body>
  <header>
    <p class="title"><a href="/upskill">UpSkill | Become Greater</a></p>
    <% include ../../includes/up-nav %>

  </header>

  <main>
    <% if(message && message.length >= 1){ %>
    <p class="message <%if(msgType){%>
      <%= msgType %>
      <% } %>">
      <%= message %></p>
    <% } %>
    <form action="login" method="post">
      <label for="email">
        Email:
        <input type="email" name="email">
      </label>
      <label for="password">
        Password:
        <input type="password" name="password">
      </label>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="submit" value="Log In">
    </form>
  </main>
  <footer>
    <% include ../../includes/up-footer %>
</body>

</html>